<div class="about-container">
  <div class="about-header"><h2>About Me</h2></div>
  <div class="about-general">
    <div class="about-picture">
      <a [hidden]="darkMode">
        <img src="assets/about_light.svg" />
      </a>
      <a [hidden]="!darkMode">
        <img src="assets/about_dark.svg" />
      </a>
    </div>
    <div class="about-bio">
      Hi, I'm Annie (she/her) and I'm a Systems Design Engineering Student at
      the University of Waterloo. I previously interned at
      <a href="https://www.rbc.com/cyber-security/"
        ><span
          style="color: #d2af13; font-weight: 800; text-decoration: underline"
          >RBC</span
        ></a
      >
      and
      <a href="https://www.hometrust.ca/"
        ><span
          style="color: #013b64; font-weight: 800; text-decoration: underline"
          >Home Trust</span
        ></a
      >.
      <br />
      <br />
      I love building innovative solutions to everyday problems. I'm currently
      exploring AI/ML, data data engineering, and game development.

      <br />
      <br />
      In my free time, I enjoy expanding my coding skills and unleashing my
      creativity through personal coding projects. I also enjoy visiting
      aesthetic cafes and exploring green spaces.<br />
      <br />I’m exploring Summer 2024 internship opportunities.
      <a href="ajcai@uwaterloo.ca"
        ><span
          [style.color]="!darkMode ? '#313638' : '#e1e1e5'"
          style="text-decoration: underline; font-weight: 800"
          >Get in touch</span
        ></a
      >.
    </div>
  </div>
</div>
<app-contact></app-contact>
