.about-header {
    text-align: center;
    align-items: center;
    margin-top:2rem;
}

.about-container {
    align-items: center;
    display: block;
}

.about-general {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    font-weight:700;
}

.about-picture {  
    padding-right: 5rem;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media screen and (max-width: 800px) {
    .about-general {
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-size: 25px;
        line-height: 25px;
    }

    p, li{
        font-size: 11px;
        line-height: 15px;
    }

    .about-bio {
        padding-top: 20px;
    }
    
    .about-picture{
        margin-top: 1rem;
        padding-right: 0;
    }

    img {
        width: 70vw;
        height: 70vw;
    }
}