<div>
    <div>
        <div>
            <div class='experiences-header'>
                <h2>My Experiences</h2>
            </div>
            <div class='work/ecs'>
                <h3>Work/Extra-Curriculars</h3>
                <div>
                    <h4>Coding & 3D Printing Head Instructor @ <a [style.color]="!darkMode ? 'black' : 'white'" class='company' href="https://tacsports.ca/">TAC Sports & LSA</a></h4>
                    <p>Jul 2022 - Present | Toronto, Ontario</p>
                    <br>
                    <!--<ul>
                        <li><p>Created weekly lesson plans</p></li>
                        <li><p>""</p></li>
                        <li><p>""</p></li>
                    </ul>
                    <p>
                        <span><p><span style='font-weight:700'>Technologies</span>: Scratch, Python, PyGame, TinkerCAD</p></span>
                        <br>
                    </p>-->
                </div>

                <div>
                    <h4>Web Developer @ <a [style.color]="!darkMode ? 'black' : 'white'" class='company' href="http://easymediainc.com/">Easy Media Inc.</a></h4>
                    <p>Dec 2021 - May 2022 | Toronto, Ontario</p>
                    <br>
                    <ul>
                        <li><p>Designed and developed new web applications from inception to finish 4 non-profit organizations (NPOs)</p></li>
                        <li><p>Ensured the applications were user-friendly and dynamic</p></li>
                        <li><p>Assisted senior developers in managing page traffic and SEO analytics </p></li>
                        <li><p>Communicated in a professional manner with business partners</p></li>
                    </ul>
                    <p>
                        <span><p><span style='font-weight:700'>Technologies</span>: WordPress, HTML, CSS, Figma, Adobe XD, Adobe Illustrator, Canva</p></span>
                        <br>
                    </p>
                </div>

                <div>
                    <h4>Project Development Intern @ <a [style.color]="!darkMode ? 'black' : 'white'" class='company' href="https://www.hatchcoding.com/">Hatch Coding</a></h4>
                    <p>Sep 2021 - Jun 2022 | Toronto, Ontario</p>
                    <br>
                    <ul>
                        <li><p>Brainstormed and developed 30 mini games/projects using the Hatch Coding Studio</p></li>
                        <li><p>Managed the status of over 700 projects available in the Hatch Studio. These projects are the basis of the coaches's lesson plans</p></li>
                        <li><p>Created coding challenges for each project to help enhance student's learning</p></li>
                        <li><p>Curated almost 100 lines of canned feedback (CSV) for students</p></li>
    
                    </ul>
                    <p>
                        <span><p><span style='font-weight:700'>Technologies</span>: Hatch Coding Studio, JavaScript, Python, Excel</p></span>
                        <br>
                    </p>
                </div>

                <div>
                    <h4>Senior Director of Community Engagement @ <a [style.color]="!darkMode ? 'black' : 'white'" class='company' href="https://superpositiontoronto.com/">Superposition Toronto</a></h4>
                    <p>Aug 2021 - Present | Toronto, Ontario</p>
                    <br>
                    <ul>
                        <li><p>Manage and delegate tasks to a team of executives under the Community Engagement Department</p></li>
                        <li><p>Oversee the execution of all initiatives and actively participate in monthly director meetings</p></li>
                        <li><p>Moderate a Discord Community Server with over 500 members, ensuring that the space remains safe and supportive</p></li>
                        <li><p>As of March 2022, we have reached over 33k individuals across 80 countries</p></li>
                    </ul>

                    <h4>Director of Operations</h4>
                    <p>Aug 2020 - Aug 2021 | Toronto, Ontario</p>
                    <br>
                    <ul>
                        <li><p>Managed and delegated tasks to 8 Operations Coordinators</p></li>
                        <li><p>Prepared monthly event proposals, curated budgets, timelines, and schedules</p></li>
                        <li><p>Hosted 5 workshops, 4 panels, and 3 competitions, which garnered over 1200 total signups</p></li>
                        <li><p>Planned and oversaw the execution of The SuperPOSITRON, an international and all female hackathon, with $62k in prizes and 24 workshops and talks. The hackathon had over 1000 signups and 100 submissions</p></li>
                    </ul>
                    <br>
                </div>

            </div>
            <div class="buttons">
                <a [hidden]="darkMode">
                    <button class='light-projects' onclick="window.location.href='https://shadow-river-284.notion.site/8cd042c02c544b4ab9692e84daccd728?v=759033c1150549efb321fe4f8ea23ba5'">Projects</button>
                    <button class='light-resume' onclick="window.location.href='https://www.google.com'">Resume</button>
                </a>
                <a [hidden]="!darkMode">
                    <button class='dark-projects' onclick="window.location.href='https://shadow-river-284.notion.site/8cd042c02c544b4ab9692e84daccd728?v=759033c1150549efb321fe4f8ea23ba5'">Projects</button>
                    <button class='dark-resume' onclick="window.location.href='https://www.google.com'">Resume</button>
                </a>
            </div>
        </div>
    </div>
</div>
<app-contact></app-contact>
