<div class="contact-container">
  <p>© Annie Cai, 2024</p>
  <div [hidden]="darkMode" class="social-media">
    <a href="https://www.linkedin.com/in/anniecai2004/">
      <img width="50" src="assets/linkedin_light.svg" />
    </a>
    <a href="https://github.com/aanxniee">
      <img width="50" src="assets/github_light.svg" />
    </a>
    <a href="https://www.instagram.com/itsxan.nie/">
      <img width="50" src="assets/ig_light.svg" />
    </a>
    <a href="https://open.spotify.com/user/22incn5g5limprnx32vxycuqq">
      <img width="50" src="assets/spotify_light.svg" />
    </a>
  </div>
  <div [hidden]="!darkMode" class="social-media">
    <a href="https://www.linkedin.com/in/anniecai2004/">
      <img width="50" src="assets/linkedin_dark.svg" />
    </a>
    <a href="https://github.com/aanxniee">
      <img width="50" src="assets/github_dark.svg" />
    </a>
    <a href="https://www.instagram.com/itsxan.nie/">
      <img width="50" src="assets/ig_dark.svg" />
    </a>
    <a href="https://open.spotify.com/user/22incn5g5limprnx32vxycuqq">
      <img width="50" src="assets/spotify_dark.svg" />
    </a>
  </div>
</div>
