.contact-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
}

img {
    margin: 0 1rem;
}

@media screen and (max-width: 800px) {
    img {
        width: 30px;
        margin: 0 2vw;
    }
    
    .contact-container {
        margin-top: 1rem;
        padding-top: 1rem;
    }

    p{
        font-size: 13px;
    }
}