.app {
    padding: 2rem 15vw;
}

li {
    padding: 0 2rem
}

nav {
    display: flex;
    justify-content: space-between; 
}

.navbar-links {
    display: flex;
}

ul {
    list-style-type: none;
}

.container{
    align-items: center;
}

a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
	position: relative;
}

a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: #A9CDB0;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.05em, 0);
}

@media screen and (max-width: 768px) {
    .app {
        padding: 2rem 5vw;
    }
    nav {
        justify-content: space-between;
    }
    ul {
        flex-direction: column;
        text-align: right;
    }
    .nav-link{
        font-size: 12px;
        line-height: 10px;
    }

    li {
        padding: 0.5rem 0
    }

    a:hover::after,
    a:focus::after {
        opacity: 1;
        transform: translate3d(0, 0.3em, 0);
    }
}
