<div class='app'>
  <!--this component creates the nav bar-->
  <nav>
    <div class='navbar-logo'>
      <!-- hidden is used for dark mode toggle -->
      <a [hidden]="darkMode" routerLink='/home'>
        <img src ="assets/22.svg" width="75" height="75">
      </a>
      <a [hidden]="!darkMode" routerLink='/home'>
        <img src ="assets/23.svg" width="75" height="75">
      </a>
    </div>
    <ul class='navbar-links'>
      <li><a [style.color]="!darkMode ? 'black' : 'white'" class='nav-link' routerLink='/about'>About Me</a></li>
      <li><a [style.color]="!darkMode ? 'black' : 'white'" class='nav-link' routerLink='/experiences'>My Experiences</a></li>
      <li><a [style.color]="!darkMode ? 'black' : 'white'" class='nav-link' href="mailto:ajcai@uwaterloo.ca">Contact Me</a></li>
    </ul>
  </nav>
  <div class='container'>
    <router-outlet></router-outlet>
  </div>
</div>